$black: #292929;
$grey100:#FDFDFD;
$grey300: #EFEFEF;
$grey500: #C8C8C8;
$grey700: #B1B1B1;
$primary: #BDB4F1;
$secondary: #F1B1BB;
$bg-color:#F9F9F9;
$white: #fff;
$red500: #FF8686;

$fontRoboto: 'Roboto', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

$defaultShadow: 3px 4px 10px 0px rgba(30, 30, 30, 0.01);
