@import '/src/styles/variables.scss';



.wrapper{
    display: flex;
    
}

.imgBG{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.imgIcon{

}